body {
  width: 100%;
  overflow: hidden;
  background-color: black;
}
.img-box {
  position: relative;
  z-index: 0;
  width: 100%;
}
.img-box img {
  width: 100%;
  height: 50vh;
}

/* 1111111111111111111111111111111111111111111111111111 */

.content-box {
  position: relative;
  height: 50vh;
}
.todo-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: -53%;

  left: 50%;
  transform: translateX(-50%);
}
.todo-title {
  margin-bottom: 30px;
}
.todo-title h3 {
  color: white;
  font-weight: 700;
  font-family: "Indie Flower", cursive;
  font-size: 50px;
}
.todo-input {
  width: 100%;
}
.todo-input input {
  border: none;
  width: 400px;
  height: 40px;
  border-radius: 10px;
  padding: 0px 5px;
}
.todo-list {
  width: 100%;
}
/*todo list 요소들 css*/
ul li {
  margin-top: 10px;
}
li div {
  display: flex;
  align-items: center;
}

.todo-text {
  width: 100%;
  margin: 0px 5px;
  color: white;
  font-weight: 500;
  font-size: 30px;
  font-family: "Nanum Gothic", sans-serif;
}
.complete-todo {
  text-decoration: line-through;
  color: rgb(172, 169, 169);
  font-style: italic;
}
.editing {
  display: none;
}
.editing-box {
  width: 100%;
}
.todo-each-box-editing {
  display: none;
}
